<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Пример</title>
    </head>
    <body>
        {% if flag %}
        {% else %}
            <form method="post" action="/create">
		{% csrf_token %}
		{{ form.question }}<br>
		<br>
		<input type="text" name="answer1" value="Ответ1"> <br>
		<input type="text" name="answer2" value="Ответ2">
		<input type="hidden" name="answers_count" value="2"><br>
		<input type="submit" value="Создать">
            </form>
        {% endif %}
        {% if votings %}
            {% for voting in votings %}
                <br><hr>
                <h2>{{ voting.text }}</h2>
                <ul>
                    {% for answer in voting.answers %}
                        <li>{{ answer.text }} - Проголосовало {{ answer.votes_count }} человек</li>
                        <form method="post" action="{{answer.action}}">
                            {% csrf_token %}
                            {{answer.action}}
                            <input type="submit" value="проголосовать">
                        </form>
                    {% endfor %}
                </ul>
                <p>Лайков: {{ voting.likes }}</p>
                <p>Дата создания: {{ voting.start }}</p>
                <hr><br>
            {% endfor %}
        {% else %}
            <h2>Голосований нет.</h2>
        {% endif %}
    </body>
</html>
