<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Пример</title>
    </head>
    <body>
        <form method="post" action="/bdex">
            {% csrf_token %}
            {{ form.question }}<br>
            {{ form.answers }}<br>
            <input type="submit" value="Создать">
        </form>

        {% if data %}
            {% for v_a in data %}
                <br><hr>
                <h2>{{ v_a.0.text }}</h2>
                <ul>
                    {% for answer in v_a.1 %}
                        <li>{{ answer.text }} - Проголосовало {{ answer.votes_count }} человек</li>
                    {% endfor %}
                </ul>
                <p>Лайков: {{ v_a.0.likes }}</p>
                <p>Дата создания: {{ v_a.0.start }}</p>
                <hr><br>
            {% endfor %}
        {% else %}
            <h2>Голосований нет.</h2>
        {% endif %}
    </body>
</html>