{% extends  'base.html' %}

{% block main %}
    <div class="card">
        <body>
            <h5 class="card-header">Создание голосования</h5>
            <form action="/create/" method="post" id="create_voting" style="margin-top: 10px;">
                {% csrf_token %}
                <p>{{ form.question }}</p>
                <div id="fields">
                    <p><input id="template" type="text" name="answer0" placeholder="Ваш ответ" required style="width: 450px; margin-right: 50px;"></p>
                </div>
                <hr>
                <input class="btn btn-primary" type="button" value="Добавить поле" id="addfield">
                <input class="btn btn-primary" type="button" value="Удалить поле" id="removefield"> <br>
                <input type="hidden" name="answers_count" value="1" id="count">
                <script>
                    function addfield() {
                        var p = d.createElement('p'),
                            cloneField = field.cloneNode();
                        count.value = parseInt(count.value) + 1 + '';
                        cloneField.value = '';
                        cloneField.name = 'answer' + (parseInt(count.value) - 1);
                        cloneField.id = 'answer' + (parseInt(count.value) - 2);
                        p.appendChild(cloneField);
                        newFields.appendChild(p);
                        return false;
                    }
                    function removefield() {
                        if(parseInt(count.value) > 1) {
                            var elem = document.getElementById('answer' + (parseInt(count.value) - 2));
                            elem.parentElement.remove();
                            count.value = parseInt(count.value) - 1 + '';
                        }
                    }
                    var d = document,
                        myForm = d.getElementById('create_voting'),
                        newFields = myForm.querySelector('#fields'),
                        field = d.getElementById('template'),
                        butAdd = d.getElementById('addfield'),
                        count = d.getElementById('count'),
                        butRemove = d.getElementById('removefield');
                    butAdd.addEventListener('click', addfield, false);
                    butRemove.addEventListener('click', removefield, false);
                </script>
                <br>
                <input class="btn btn-primary" type="submit" value="Создать">
            </form>
        </body>
    </div>
{% endblock %}
